/*zwykły tekst*/
.color_text_dark_gray {color: var(--color-dark-gray) !important}
.color_text_gray {color: var(--color-gray) !important}
.color_text_light_gray {color: var(--color-light-gray) !important}
.color_text_lighter_gray {color: var(--color-lighter-gray) !important}
.color_text_white {color: var(--color-white) !important}
.color_text_full_white {color: var(--color-full-white) !important}
.color_text_red {color: var(--color-red) !important}
.color_text_blue {color: var(--color-blue) !important}
.color_text_pink {color: var(--color-pink) !important}

/*hovery*/
.color_text_hover_dark_gray:hover { color: var( --color-dark-gray ) !important; }
.color_text_hover_gray:hover { color: var( --color-gray ) !important; }
.color_text_hover_light_gray {color: var(--color-light-gray) !important}
.color_text_hover_lighter_gray:hover {color: var(--color-lighter-gray) !important}
.color_text_hover_white:hover {color: var(--color-white) !important}
.color_text_hover_full_white:hover {color: var(--color-full-white) !important}
.color_text_hover_red:hover {color: var(--color-red) !important}
.color_text_hover_blue:hover {color: var(--color-blue) !important}
.color_text_hover_pink:hover {color: var(--color-pink) !important}

/*kolory tła*/
.color_background_dark_gray { background-color: var( --color-dark-gray ) !important; }
.color_background_gray { background-color: var( --color-gray ) !important; }
.color_background_light_gray {background-color: var(--color-light-gray) !important}
.color_background_lighter_gray {background-color: var(--color-lighter-gray) !important}
.color_background_white {background-color: var(--color-white) !important}
.color_background_full_white {background-color: var(--color-full-white) !important}
.color_background_red {background-color: var(--color-red) !important}
.color_background_blue {background-color: var(--color-blue) !important}
.color_background_pink {background-color: var(--color-pink) !important}

/*hovery na tło*/
.color_background_hover_dark_gray:hover { background-color: var( --color-dark-gray ) !important; }
.color_background_hover_gray:hover { background-color: var( --color-gray ) !important; }
.color_background_hover_light_gray:hover {background-color: var(--color-light-gray) !important}
.color_background_hover_lighter_gray:hover {background-color: var(--color-lighter-gray) !important}
.color_background_hover_white:hover {background-color: var(--color-white) !important}
.color_background_hover_full_white:hover {background-color: var(--color-full-white) !important}
.color_background_hover_red:hover {background-color: var(--color-red) !important}
.color_background_hover_blue:hover {background-color: var(--color-blue) !important}
.color_background_hover_pink:hover {background-color: var(--color-pink) !important}