figure {
    margin: 20px auto;
    padding: 10px;
    background-color: inherit;
    color: inherit;
    display: block;
    max-width: 100%;
}

figure > img {
    display: block;
    max-width: 100% !important;
}

figure > figcaption {
    text-align: center;
    margin-top: 10px;
    font-size: inherit;
}

img {
    width: 100%;
    height: auto;
    background-color: inherit;
    color: inherit;
}