.border_top {border-top: 1px solid #00000033;}
.border_bottom {border-bottom: 1px solid #00000033;}
.border_left {border-left: 1px solid #00000033;}
.border_right {border-right: 1px solid #00000033;}
.border_full {border: 1px solid #00000033;}