.code {
    padding: 20px;
    background-color: var(--color-full-white);
    border: 1px solid var(--color-other-white);
}

.code > p {
    background-color: #222222;
    color: #e0e0e0;
    font-family: monospace;
    line-height: 150%;
    text-align: left;
}

.code > pre {
    background-color: #222222;
    color: #e0e0e0;
    font-family: monospace;
    line-height: 150%;
    text-align: left;
}

.copy_button {
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: var(--color-red);
    color: var(--color-white);
    border: none;
}

.copy_button:hover{background-color: #fc307b;}