:root {
    --color-dark-gray: #333333;
    --color-gray: #666666;
    --color-light-gray: #999999;
    --color-lighter-gray: #cccccc;
    --color-full-white: #fff;
    --color-other-white: #eee;
    --color-white: #fafafa;
    --color-red: #ff005d;
    --color-blue: #0095ff;
}